html {
  background: #000 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.remoteVideosContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#remoteVideo {
    width: 300px;
    height: 300px;
}

.myVideContainer {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 100px;
    z-index: 2;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -50px;
    left: -50px;
}